body{
	margin: 0px;
	font-family: "微软雅黑";
	font-size: 14px;
	background-color: white;
}
a{
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.w{
	width: 1200px;
	margin: 0px auto;
	}
.left1{
	width: 80px;
	height: 435px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: none;
}	
	
	
.top{
	width: 1430px;
	height: 38px;
	background-color: #535353;
}
.nav{
	height: 38px;
	min-width: 1200px;
}
.nav ul{
	margin: 0px;
	
	line-height: 38px;
	color: #ffffff;

	
}
.nav ul li{
	float: left;
	list-style: none;
	padding: 0px 20px;
	
}
.nav ul li a{
	color: #ffffff;
}
.nav ul li:hover{
	background-color: white;
}
.nav ul li:hover a{
	color: black;
}
.nav ul li:nth-child(2){
	position: relative;
}
.nav ul li:nth-child(2) ul{
	padding: 0px;
	display: none;
	position: absolute;
	top: 38px;
	left: 0px;
	z-index: 9999;
}
.nav ul li:nth-child(2) ul li{
	float: none;
	width: 60px;
	background-color: white;
}
.nav ul li:nth-child(2) ul li a{
	color: black;
}
.nav ul li:hover ul{
	display: block;
}
.nav ul li:nth-child(2) ul li:hover{
	background-color: papayawhip;
}
.nav ul li:nth-child(2) ul li:hover a{
	color: red;
}
.box1{
	height: 116px;
	padding:23px 0px ;
	box-sizing: border-box;
	background-color: white;
}
.box1 .logo{
	width: 222px;
	height: 70px;
}
.box1 .logo img{
	width: inherit;
	height: inherit;
}
.box1 .wenzi{
	height: 70px;
	line-height: 70px;
	margin-left: 40px;
	color: #333333;
}
.box1 .tupian{
	width: 608px;
	height: 70px;
	padding: 20px 0px;
	box-sizing: border-box;
}
.box1 .tupian .box2{
	margin-left:36px ;
}
.banner{
	width: 1200px;
	height: 340px;
	position: relative;
}
.banner a{
	display: block;
	width:inherit;
	height: inherit;
	position: absolute;
	top: 0px;
	left: 0px;
}
.banner a img{
	width: inherit;
	height: inherit;
}
.banner .points{
	position: absolute;
	bottom: 30px;
	left: 50%;
}
.banner .points span{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	border-radius:50%;
	background-color: white;
	margin: 0px 20px;
	
}
.banner .points span.active{
	background-color: red;
}
.box3{
	height: 452px;
	margin-top: 40px;
}
.box3 .box3-1{
	width: 218px;
	height: inherit;
	border: solid 1px gainsboro; 
	box-sizing: border-box;
}
.box3-1 .kecheng{
	background-color: red;
}
.box3-1 .kecheng h2{
	margin: 0px;
	height: 52px;
	line-height: 52px;
	color: white;
	font-size: 20px;
	font-weight: 400;
	border-bottom: solid 1px gainsboro;
	box-sizing: border-box;
	background-image: url(../img/重新支付.png);
	background-size: 30px 30px; 
	background-repeat:no-repeat;
	text-align: center;
	background-position:11px 11px ;
}	
.box3-1 ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
.box3-1 ul li{
	padding: 9px 15px;
	border-bottom: solid 1px gainsboro;
	box-sizing: border-box;
}
.box3-1 ul li:hover{
	background-color: gainsboro;
}
.box3-1 ul li:hover a:first-child{
	color: red;
}
.box3-1 ul li a:first-child{
	color: black;
	font-size: 16px;
}
.box3-1 ul li a{
	display: inline-block;
	color: gray;
	margin-right: 20px;
}
.box3-1 ul li a:hover{
	color: red;
}
.box3-2{
	width: 700px;
	height: inherit;
	margin-left: 20px;
	
}
.box3-2 .dongtai{
	list-style: none;
	height: 52px;
	margin: 0px;
	padding: 0px;
	border-bottom: solid 1px gainsboro;
}
.box3-2 .dongtai li{
	float: left;
	height: 52px;
	line-height: 52px;
	margin: 0px 20px;
	font-size: 20px;
}
.box3-2 a{
	color: #000000;
}
.box3-2 .dongtai li.active{
	color: red;
	border-bottom: solid 2px red;
}
.box3-2 .contents{
	width: inherit;
	height: 400px;
	position: relative;
}
.box3-2 .contents-1{
	width: inherit;
	height: inherit;
	margin-top: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.box3-2 .contents .contents-1:nth-child(1){
	display: block;
}
/*.box3-2 .contents .contents-1:nth-child(2){
	background-color: palevioletred;
}
.box3-2 .contents .contents-1:nth-child(3){
	background-color: pink;
}*/
.box3-2 .contents-1 ul{
	margin: 0px;
	padding:0px;
}
.box3-2 .contents-1 li{
	list-style-type: none;
	width: 350px;
	height: 70px;
	margin-top: 20px;
	float: left;
	position: relative;
}
.box3-2 .contents-1 img{
	width: 50px;
	height: 50px;
	border-radius:50% ;
}
.box3-2 .contents-1 span{
	display: block;
	width: 50px;
	height: 20px;
	color: #999;
	text-align: center;
}
.box3-2 .contents-1 li .num1{
	width: 280px;
	height: inherit;
	padding-right: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 14px;
	text-align: justify;
	
}
.box3-2 .contents-1 li .num1 a{
	color: gray;
	display: block;
}
.box3-2 .contents-1 li .num1 a:first-child{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: black;
	font-size: 16px;
	margin-bottom: 10px;
}
.box3-2 .contents-1 li .num1 a:first-child:hover{
	color: red;
}
.box3 .box3-3{
	width: 200px;
	height: inherit;
}
.box3-3 p{
	height: 52px;
	width: inherit;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	line-height: 52px;
	text-align: center;
}
.box3-3 .imgas{
	width: inherit;
	height: 120px;
	position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.box3-3 .imgas img{
	width: 200px;
	height: 120px;
}
.box3-3 .imgas .move{
	height: 80px;
	width: inherit;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 90px;
	left: 0px;
}
.box3-3 .imgas .move h3{
	margin: 5px 20px 5px 10px;
}
.box3-3 .imgas .move h3 a{
	color:white;
	font-size: 14px;
}
.box3-3 .imgas .move p{
	height: 20px;
	line-height: 20px;
	padding: 0px;
	text-align: left;
	padding: 0px 10px;
	box-sizing: border-box;		
}
.box3-3 .imgas .move p a{
	color: #afafaf;
	font-size: 12px;
}

.box4{
	height: 660px;
	margin-top: 40px;
}
.box4 .box4-1{
	height: 51px;
	margin: 0px;
	padding: 0px;
	border-bottom: solid 1px gainsboro;
}
.box4 .box4-1 h2{
	display: inline-block;
	margin: 12px 0px;
}
.box4 .box4-1 ul{
	float: right;
	margin: 0px;

}
.box4 .box4-1 li{
	list-style: none;
	float: left;
	height: 52px;
	padding: 15px 20px;
	box-sizing: border-box;
}
.box4 .box4-1 a{
	color: #000000;
	font-size:16px;
}
.box4 .box4-1 li.active{
	border-bottom: solid 2px red ;
	color: red;
}
.box4 .main{
	margin-top: 28px;
	position: relative;
}
.box4 .main-1{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.box4 .main-1:first-child{
	display: block;
}
.box4 .box4-2{
	width: inherit;
/*	margin-top: 28px;*/
}
.box4 .box4-2 ul{
	margin: 0px;
	padding: 0px;
}
.box4 .box4-2 li{
	list-style: none;
	height: 240px;
	width: 270px;
	padding: 8px;
	margin-right: 16px;
	float: left;
}
.box4 .box4-2 li:hover{
		border: solid 1px gainsboro;
}
.box4 .box4-2 li:last-child{
	margin-right: 0px;
}
/*.box4 .box4-2 .top1{
	width: 270px;
	height: 180px;
}*/
.box4 .box4-2 .top1{
	width: 270px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
.box4 .box4-2 .top1 img{
	width: 270px;
	height: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.box4 .box4-2 .top2 span:first-child{
	display: block;
	margin-bottom: 15px;
}
.box4 .box4-2 .top2 a:first-child{
	color: black;
}	
.box4 .box4-2 .top2 a:first-child:hover{
	color: red;
}
.box4 .box4-2 .top2 .jiage{
	color: gray;
}
.box4 .box4-2 .top2 a:last-child{
	color: gray;
	display: inline-block;
	margin-left: 140px;
}
.box4 .box4-2 .top2 a:last-child:hover{
	color: palegreen;
}
 .box4 .school{
	margin-top: 28px;
	height: 300px;
	position: relative;
}
.box4 .school-1{
	width: 592px;
	height: inherit;
}
.box4 .school-1 table{
	width: inherit;
	height: inherit;
}
.box4 .school-1 table tr td:first-child{
	text-align: left;
	font-size: 18px;
}
.box4 .school-1 table th{
	font-size: 16px;
	font-weight: 400;
}
.box4 .right1{
	position: absolute;
	top: 0px;
	right: 0px;
}
 .baoming{
	height: 40px;
	width: 1200px
	border-bottom: solid 1px gainsboro;
	position: relative;
	overflow: hidden;
}
.baoming .leftA{
	width: 100px;
	height: 39px;
	line-height: 39px;
	border-bottom: solid 2px red;
	position: absolute;
	z-index: 9999;
	background-color: white;
}
.baoming .leftB{
	width: 1100px;
	height: 40px;
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 40px;
}
.baoming .leftB span{
	margin: 0px 10px;
	white-space: nowrap;
	font-size: 16px;
	
}
.baoming .leftB .first1{
	margin-right: 50px;
}
.teachers{
	height: 400px;
	margin-top: 40px;
	position: relative;
   overflow: hidden;
}
.teachers .tops{
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px gainsboro;
	position: relative;
}
.teachers .tops h2{
  padding: 0px;
  margin: 0px;
}
.teachers .tops .sanjiao1{
	width: 0px;
	height: 0px;
	background-color: red;
	border: solid 5px white;
	border-left:solid 5px red;
	position: absolute;
	top: 15px;
	right: 90px;
} 
.teachers .tops .sanjiao2{
	width: 0px;
	height: 0px;
	background-color: red;
	border: solid 5px white;
	border-right:solid 5px red;
	position: absolute;
	top: 15px;
	right: 110px;
}
/*.teachers .tops p:hover a{
	color: red;
}*/
.teachers ul{
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	position: absolute;
	width: 3720px;
}
.teachers ul li{
	list-style: none;
	width: 270px;
	height: 300px;
	margin-right: 40px;
	float: left;
	position: relative;
	background-color: palevioletred;
}
.teachers ul li img{
	width: 270px;
	height: 200px;
}
.teachers ul li .imgs{
	width: 270px;
	height: 200px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	
}
.teachers ul li .imgs p{
	color: white;
	text-align: justify;
	padding: 20px 10px;
}
.teachers ul li:hover .imgs{
	display: block;
}
